<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediaHive - Subtitle Creator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="/" style="text-decoration: none; color: #DEF2F1;">Media Hive</a></div>
            <ul>
                <li><a href="/download">Download YouTube Videos</a></li>
                <li><a href="/convert">Convert Video to Audio</a></li>
                <li><a href="/subtitles">Insert Subtitles to Video</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="heading">
            <h1>SUBTITLES GENERATOR</h1>
        </div>
        
        <h2 align="center">Insert subtitles to your videos.</h2>

        <section id="convert-section" class="feature-section">
            <div id="upload-video" class="tab-content active">
                <h2>Drag and drop or choose the video file you want to add subtitles to.</h2>
                <form id="convert-videoform" action="{{ url_for('subtitles_video') }}" method="POST" enctype="multipart/form-data">
                    <input type="file" id="video" name="video" accept="video/mp4" required>
                    <button type="submit">Convert</button>
                </form>
                <h3>The process may take some time. Please wait.</h3>
            
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Media Hive. All rights reserved.</p>
    </footer>
    
</body>
</html>
